<div class='movable' cr-affix parent='#exporttpl' bottom='#about'>
        <div class='forkme'>
            <a target='_blank' href='https://github.com/cloudspace/angular.crunchinator.com'
                ng-click="Analytics.event('Navigation', 'Click', 'Fork me About');"
            >
                <img src='/images/forkme_right_ribbon.png' alt='Fork me on GitHub' />
            </a>
        </div>
        <div class="header-text">
            <h2><a href="http://cloudspace.com/" class="cloudspace-logo">cloudspace</a></h2>
            <nav>
                <ul class="nav nav-pills">
                    <li ng-class="{active: showPage=='exporttpl'}"><a ng-click="navigate('exporttpl')" href="#export">About Us
               </ul>
            </nav>
        </div>
    </div>

<div ng-show="showPage=='exporttpl'><div class='export-contain'>
    <div id="export-header" cr-affix parent='#exporttpl'>
	<div ng-controller="MyCtrl">
    <button ng-click="exportData()">Export</button>
    <br />
    <div id="exportable">
    <table width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>DoB</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.dob | date:'MM/dd/yy'}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
</div>
</div>
</div>